[data-theme="dark"] {
	.dark-bg-magenta-50 {
		background-color: var(--rbrh-magenta-50);
	}
	.dark-bg-magenta-100 {
		background-color: var(--rbrh-magenta-100);
	}
	.dark-bg-magenta-200 {
		background-color: var(--rbrh-magenta-200);
	}
	.dark-bg-magenta-300 {
		background-color: var(--rbrh-magenta-300);
	}
	.dark-bg-magenta-400 {
		background-color: var(--rbrh-magenta-400);
	}
	.dark-bg-magenta-500 {
		background-color: var(--rbrh-magenta-500);
	}
	.dark-bg-magenta-600 {
		background-color: var(--rbrh-magenta-600);
	}
	.dark-bg-magenta-700 {
		background-color: var(--rbrh-magenta-700);
	}
	.dark-bg-magenta-800 {
		background-color: var(--rbrh-magenta-800);
	}
	.dark-bg-magenta-900 {
		background-color: var(--rbrh-magenta-900);
	}
}

