.radius-none {
  border-radius: 0;
}
.radius-xs {
  border-radius: var(--rbrh-radius-xs);
}
.radius-sm {
  border-radius: var(--rbrh-radius-sm);
}
.radius-md {
  border-radius: var(--rbrh-radius-md);
}
.radius-lg {
  border-radius: var(--rbrh-radius-lg);
}
.radius-xl {
  border-radius: var(--rbrh-radius-xl);
}
.radius-circle {
  border-radius: var(--rbrh-radius-circle);
}
