.d-none {
  display: none;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.list-item {
  display: list-item;
}
.table {
  display: table;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}