.object-center {
	object-position: center;
}
.object-cover {
	object-fit: cover;
}
.object-contain {
	object-fit: contain;
}
.object-top {
	object-position: top;
}
.object-bottom {
	object-position: bottom;
}