.bg-magenta-50 {
  background-color: var(--rbrh-magenta-50);
}
.bg-magenta-100 {
  background-color: var(--rbrh-magenta-100);
}
.bg-magenta-200 {
  background-color: var(--rbrh-magenta-200);
}
.bg-magenta-300 {
  background-color: var(--rbrh-magenta-300);
}
.bg-magenta-400 {
  background-color: var(--rbrh-magenta-400);
}
.bg-magenta-500 {
  background-color: var(--rbrh-magenta-500);
}
.bg-magenta-600 {
  background-color: var(--rbrh-magenta-600);
}
.bg-magenta-700 {
  background-color: var(--rbrh-magenta-700);
}
.bg-magenta-800 {
  background-color: var(--rbrh-magenta-800);
}
.bg-magenta-900 {
  background-color: var(--rbrh-magenta-900);
}