.blue-50 {
  color: var(--rbrh-blue-50);
}
.blue-100 {
  color: var(--rbrh-blue-100);
}
.blue-200 {
  color: var(--rbrh-blue-200);
}
.blue-300 {
  color: var(--rbrh-blue-300);
}
.blue-400 {
  color: var(--rbrh-blue-400);
}
.blue-500 {
  color: var(--rbrh-blue-500);
}
.blue-600 {
  color: var(--rbrh-blue-600);
}
.blue-700 {
  color: var(--rbrh-blue-700);
}
.blue-800 {
  color: var(--rbrh-blue-800);
}
.blue-900 {
  color: var(--rbrh-blue-900);
}
