.border-magenta-50 {
  border: 1px solid var(--rbrh-magenta-50);
}
.border-magenta-100 {
  border: 1px solid var(--rbrh-magenta-100);
}
.border-magenta-200 {
  border: 1px solid var(--rbrh-magenta-200);
}
.border-magenta-300 {
  border: 1px solid var(--rbrh-magenta-300);
}
.border-magenta-400 {
  border: 1px solid var(--rbrh-magenta-400);
}
.border-magenta-500 {
  border: 1px solid var(--rbrh-magenta-500);
}
.border-magenta-600 {
  border: 1px solid var(--rbrh-magenta-600);
}
.border-magenta-700 {
  border: 1px solid var(--rbrh-magenta-700);
}
.border-magenta-800 {
  border: 1px solid var(--rbrh-magenta-800);
}
.border-magenta-900 {
  border: 1px solid var(--rbrh-magenta-900);
}