.green-50 {
  color: var(--rbrh-green-50);
}
.green-100 {
  color: var(--rbrh-green-100);
}
.green-200 {
  color: var(--rbrh-green-200);
}
.green-300 {
  color: var(--rbrh-green-300);
}
.green-400 {
  color: var(--rbrh-green-400);
}
.green-500 {
  color: var(--rbrh-green-500);
}
.green-600 {
  color: var(--rbrh-green-600);
}
.green-700 {
  color: var(--rbrh-green-700);
}
.green-800 {
  color: var(--rbrh-green-800);
}
.green-900 {
  color: var(--rbrh-green-900);
}
