.indigo-50 {
  color: var(--rbrh-indigo-50);
}
.indigo-100 {
  color: var(--rbrh-indigo-100);
}
.indigo-200 {
  color: var(--rbrh-indigo-200);
}
.indigo-300 {
  color: var(--rbrh-indigo-300);
}
.indigo-400 {
  color: var(--rbrh-indigo-400);
}
.indigo-500 {
  color: var(--rbrh-indigo-500);
}
.indigo-600 {
  color: var(--rbrh-indigo-600);
}
.indigo-700 {
  color: var(--rbrh-indigo-700);
}
.indigo-800 {
  color: var(--rbrh-indigo-800);
}
.indigo-900 {
  color: var(--rbrh-indigo-900);
}
