.lime-50 {
  color: var(--rbrh-lime-50);
}
.lime-100 {
  color: var(--rbrh-lime-100);
}
.lime-200 {
  color: var(--rbrh-lime-200);
}
.lime-300 {
  color: var(--rbrh-lime-300);
}
.lime-400 {
  color: var(--rbrh-lime-400);
}
.lime-500 {
  color: var(--rbrh-lime-500);
}
.lime-600 {
  color: var(--rbrh-lime-600);
}
.lime-700 {
  color: var(--rbrh-lime-700);
}
.lime-800 {
  color: var(--rbrh-lime-800);
}
.lime-900 {
  color: var(--rbrh-lime-900);
}
