.magenta-50 {
  color: var(--rbrh-magenta-50);
}
.magenta-100 {
  color: var(--rbrh-magenta-100);
}
.magenta-200 {
  color: var(--rbrh-magenta-200);
}
.magenta-300 {
  color: var(--rbrh-magenta-300);
}
.magenta-400 {
  color: var(--rbrh-magenta-400);
}
.magenta-500 {
  color: var(--rbrh-magenta-500);
}
.magenta-600 {
  color: var(--rbrh-magenta-600);
}
.magenta-700 {
  color: var(--rbrh-magenta-700);
}
.magenta-800 {
  color: var(--rbrh-magenta-800);
}
.magenta-900 {
  color: var(--rbrh-magenta-900);
}
