.orange-50 {
  color: var(--rbrh-orange-50);
}
.orange-100 {
  color: var(--rbrh-orange-100);
}
.orange-200 {
  color: var(--rbrh-orange-200);
}
.orange-300 {
  color: var(--rbrh-orange-300);
}
.orange-400 {
  color: var(--rbrh-orange-400);
}
.orange-500 {
  color: var(--rbrh-orange-500);
}
.orange-600 {
  color: var(--rbrh-orange-600);
}
.orange-700 {
  color: var(--rbrh-orange-700);
}
.orange-800 {
  color: var(--rbrh-orange-800);
}
.orange-900 {
  color: var(--rbrh-orange-900);
}
