.purple-50 {
  color: var(--rbrh-purple-50);
}
.purple-100 {
  color: var(--rbrh-purple-100);
}
.purple-200 {
  color: var(--rbrh-purple-200);
}
.purple-300 {
  color: var(--rbrh-purple-300);
}
.purple-400 {
  color: var(--rbrh-purple-400);
}
.purple-500 {
  color: var(--rbrh-purple-500);
}
.purple-600 {
  color: var(--rbrh-purple-600);
}
.purple-700 {
  color: var(--rbrh-purple-700);
}
.purple-800 {
  color: var(--rbrh-purple-800);
}
.purple-900 {
  color: var(--rbrh-purple-900);
}
