.red-50 {
  color: var(--rbrh-red-50);
}
.red-100 {
  color: var(--rbrh-red-100);
}
.red-200 {
  color: var(--rbrh-red-200);
}
.red-300 {
  color: var(--rbrh-red-300);
}
.red-400 {
  color: var(--rbrh-red-400);
}
.red-500 {
  color: var(--rbrh-red-500);
}
.red-600 {
  color: var(--rbrh-red-600);
}
.red-700 {
  color: var(--rbrh-red-700);
}
.red-800 {
  color: var(--rbrh-red-800);
}
.red-900 {
  color: var(--rbrh-red-900);
}
