.sky-50 {
  color: var(--rbrh-sky-50);
}
.sky-100 {
  color: var(--rbrh-sky-100);
}
.sky-200 {
  color: var(--rbrh-sky-200);
}
.sky-300 {
  color: var(--rbrh-sky-300);
}
.sky-400 {
  color: var(--rbrh-sky-400);
}
.sky-500 {
  color: var(--rbrh-sky-500);
}
.sky-600 {
  color: var(--rbrh-sky-600);
}
.sky-700 {
  color: var(--rbrh-sky-700);
}
.sky-800 {
  color: var(--rbrh-sky-800);
}
.sky-900 {
  color: var(--rbrh-sky-900);
}
