.teal-50 {
  color: var(--rbrh-teal-50);
}
.teal-100 {
  color: var(--rbrh-teal-100);
}
.teal-200 {
  color: var(--rbrh-teal-200);
}
.teal-300 {
  color: var(--rbrh-teal-300);
}
.teal-400 {
  color: var(--rbrh-teal-400);
}
.teal-500 {
  color: var(--rbrh-teal-500);
}
.teal-600 {
  color: var(--rbrh-teal-600);
}
.teal-700 {
  color: var(--rbrh-teal-700);
}
.teal-800 {
  color: var(--rbrh-teal-800);
}
.teal-900 {
  color: var(--rbrh-teal-900);
}
