.violet-50 {
  color: var(--rbrh-violet-50);
}
.violet-100 {
  color: var(--rbrh-violet-100);
}
.violet-200 {
  color: var(--rbrh-violet-200);
}
.violet-300 {
  color: var(--rbrh-violet-300);
}
.violet-400 {
  color: var(--rbrh-violet-400);
}
.violet-500 {
  color: var(--rbrh-violet-500);
}
.violet-600 {
  color: var(--rbrh-violet-600);
}
.violet-700 {
  color: var(--rbrh-violet-700);
}
.violet-800 {
  color: var(--rbrh-violet-800);
}
.violet-900 {
  color: var(--rbrh-violet-900);
}
