.yellow-50 {
  color: var(--rbrh-yellow-50);
}
.yellow-100 {
  color: var(--rbrh-yellow-100);
}
.yellow-200 {
  color: var(--rbrh-yellow-200);
}
.yellow-300 {
  color: var(--rbrh-yellow-300);
}
.yellow-400 {
  color: var(--rbrh-yellow-400);
}
.yellow-500 {
  color: var(--rbrh-yellow-500);
}
.yellow-600 {
  color: var(--rbrh-yellow-600);
}
.yellow-700 {
  color: var(--rbrh-yellow-700);
}
.yellow-800 {
  color: var(--rbrh-yellow-800);
}
.yellow-900 {
  color: var(--rbrh-yellow-900);
}
