/* Ravenbright CSS reset
   ============================================= */
html {
  box-sizing: border-box;
  word-break: normal;
  tab-size: 4;
  width: 100%;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, sans-serif, "Segoe UI", Arial;
}
/*
Accessible way to hide elements visually for screen readers
*/
.visually-hidden {
  clip-path: inset(50%);
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  background-color: var(--rbrh-black);
  color: var(--rbrh-white);
}
/*
Accordion
*/
main,
details {
  display: block;
}
summary {
  display: list-item;
}
/*
Button & link
*/
a:focus,
a:focus-visible {
  box-shadow: var(--rbrh-shadow-focus);
}
button,
[role="button"],
[type="button"],
input,
textarea,
select,
summary {
  font: inherit;
  cursor: pointer;
  width: fit-content;
}
button,
[role="button"],
[type="button"],
.btn {
  text-transform: none;
  border: none;
  outline: none;
  text-shadow: none;
  height: fit-content;
  text-align: center;
}
.spread-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  &:focus-visible {
    padding: 0;
    border: none;
    outline: 0;
    border-style: none;
  }
}
/*
Forms
*/
form label,
fieldset label {
  text-align: left;
}
fieldset {
  border: none;
}
/*
Image
*/
hr {
  height: 0;
  color: inherit;
}
img,
picture {
  width: 100%;
  height: auto;
}
svg {
  flex-shrink: 0;
}
/*
Lists
*/
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Table
*/
table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  text-indent: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border-color: inherit;
}
caption,
th,
tr,
td {
  text-align: left;
  overflow-wrap: break-word;
}
th,
td {
  padding: 0;
  margin: 0;
}
/*
Typography
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
figure,
blockquote {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
small {
  font-size: 75%;
}
pre,
video {
  overflow: auto;
  width: 100%;
}
span {
  display: inline;
}
code,
pre,
kbd {
  font-family: monospace;
  font-size: 1em;
}
